div(error-widget)

h1
  span(ng-if='!vm.isSaved()') New operation
  span.fade-in(ng-class='{animate: vm.isSaved()}')
    i.fa.fa-check-circle.green
    = ' '
    span {{vm.isSaved()}}

form(ng-submit='vm.onSubmit(vm.addOperationForm)' name='vm.addOperationForm')
  formly-form(model='vm.data' fields='vm.fields')
    .buttons.pull-right
      button.btn.btn-primary(
        type='submit'
        ng-disabled='vm.addOperationForm.$invalid'
        ng-if='!vm.isSaved() || vm.addOperationForm.$dirty'
      )
        | Save
      = ' '
      button.btn.btn-warning(
        type='button'
        ng-click='vm.onCancel(vm.addOperationForm)'
        ng-if='vm.addOperationForm.$dirty'
      )
        | Cancel changes

