.container
  .row
    .col-sm-12
      div(d-buttons buttons='vm.buttons')
      h1 My account
    .col-sm-12
      form(name='vm.accountForm' role='form' novalidate='' ng-submit='vm.onSubmit()' cg-busy='vm.busy')
        formly-form(model='vm.model' fields='vm.fields')
          .buttons.pull-right
            button.btn.btn-primary(
            type='submit'
            ng-disabled='vm.accountForm.$invalid'
            ng-if='vm.accountForm.$dirty'
            )
              | Save
            = ' '
            button.btn.btn-warning(
            type='button'
            ng-click='vm.onCancel(vm.accountForm)'
            ng-if='vm.accountForm.$dirty'
            )
              | Cancel changes

      pre Account {{vm.acc}}

      pre ProviderAccounts {{vm.providerAccounts}}

      //
      //.row(ng-show='vm.providers')
      //  .col-sm-4.col-md-3
      //    a.btn.btn-social.btn-facebook.btn-block(ng-hide='vm.hasProviderLinked("facebook")'
      //    ng-click='vm.link("facebook")')
      //      i.fa.fa-facebook
      //      |  Link your Facebook
      //    a.btn.btn-social.btn-facebook.btn-block(ng-show='vm.hasProviderLinked("facebook")'
      //    ng-click='vm.unlink("facebook")')
      //      i.fa.fa-facebook
      //      |  Unlink your Facebook
      //
      //    a.btn.btn-social.btn-google.btn-block(ng-click='vm.link("google")'
      //    ng-hide='vm.hasProviderLinked("google")')
      //      i.fa.fa-google-plus
      //      |  Link your Google+
      //    a.btn.btn-social.btn-google.btn-block(ng-click='vm.unlink("google")'
      //    ng-show='vm.hasProviderLinked("google")')
      //      i.fa.fa-google-plus
      //      |  Unlink your Google+
      //
      //    a.btn.btn-social.btn-twitter.btn-block(ng-click='vm.link("twitter")'
      //    ng-hide='vm.hasProviderLinked("twitter")')
      //      i.fa.fa-twitter
      //      |  Link your Twitter
      //    a.btn.btn-social.btn-twitter.btn-block(ng-click='vm.unlink("twitter")'
      //    ng-show='vm.hasProviderLinked("twitter")')
      //      i.fa.fa-twitter
      //      |  Unlink your Twitter

