.buttons
  button.pull-right.btn.btn-primary(type="button" ui-sref="debt.operation.add")
    | Add operation

h1 My operations

table.table.table-hover.table-striped(
  cg-busy='vm.busy'
  ng-table='vm.ngTableParams'
  ng-show='$data && $data.length>0'
  )
  tr(ng-repeat="row in $data track by row.id" ui-sref='^.info({id: row.id})')
    td(
      title="'Timestamp'"
    ) {{row.ts | amCalendar}}
    td(
      title="'Counteragent'"
    ) {{row.debtorId == vm.currentAgent.id ? row.lender.name : row.debtor.name}}
      //a(ui-sref="debt.invite.info({id: invite.id})") {{invite.code}}
    td.num(
      ng-class="{red: row.lenderId == vm.currentAgent.id}"
      title="'Sum'"
      header-class="'num'"
    )
      span(ng-if="row.lenderId == vm.currentAgent.id") -
      | {{row.total | number:2}} {{row.currency.symbol}}
